<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<title>회원 가입</title>
</head>
<body>
	 
	 
   		 <div class="container">
		<h5 class="my-3 border-bottom pb-2">회원 가입</h5>
		<form th:action="@{/joinOk}" method="post" th:object="${memberForm}">
		<!--  <div>
				<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
					<div th:each="err:${#fields.allErrors()}" th:text="${err}"></div>
				</div>	
			</div>		-->
			<div>
				<label class="form-label">사용자ID</label>
				<input type="text" name="username" class="form-control" th:field="*{username}">
			</div>
			<div>
				<label class="form-label">비밀번호</label>
				<input type="password" name="password" class="form-control" th:field="*{password}"></textarea>
			</div>
			<div>
				<label class="form-label">이메일</label>
				<input type="text" name="email" class="form-control" th:field="*{email}">
			</div>
			<input type="submit" value="회원가입" class="btn btn-primary my-2">
			<input type="text" value="취소" class="btn btn-primary" th:onclick="|location.href='@{/list}'|" style="width:60px">
		</form>	
	</div>	

</body>
</html>